@import url(bootstrap.min.css);
@import "all.min.css";
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');


h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

*,*::after,*::before{
    box-sizing: border-box;
}
header {
    background: rgba(44,42,119,0.95);
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 99;
}
header a{
    text-decoration: none;
    color: white;
    outline: 0;
}
header a:hover{
    text-decoration: none;
    color: white;

}
.img-for-logo{
    width:40px;
    height: 40px; 
}


#aboutUs{
    background-color: #fdfafa;
    padding-top: 115px;
    padding-bottom: 125px;
}

#aboutUs .container .row .col-3 > p:first-child > i{
    color: #030303;
}
#aboutUs .container .row .col-3 > h5{
    color: #030303;
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
}
#aboutUs .container .row .col-3 > p:last-child{
    color: #040404;
    font-size: 13px;
    letter-spacing: 0.001em;
    word-spacing: 0.0001em;
}
#aboutUs .container .row .col-3:hover .colorChange{
    color: #87d37c;
}



button i{
    padding: 5px;
    border: solid;
    color: white;
}

#carousel{

    margin-top: 120px;
    margin-right: 10px;
}

#aboutUs{
    background: #f1f0f0;;
}
#aboutUs h2{
    color:#2c2a77;
    font-size: 24px;
}

#aboutUs .card{
    margin-right: 10px;
    border: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}

#aboutUs p, #aboutUs div{
    font-size: small;
    color: #777777;
}
#aboutUs .card:hover{
    background:#2c2a77;
}


#about{
    background: #f1f0f0;;
}
#about h2{
    color:#2c2a77;
    font-size: 35px;
}

#about .card{
    margin-right: 10px;
    border: solid 1px;
    padding: 20px;
    margin-bottom: 20px;
}

#about p, #about div{
    font-size: medium;
    color:#000;
}
#about .card:hover{
    background:#2c2a77;
}

#about{
    margin-top: 10px;
}

#form{

    background: #555391;
    padding-top: 35px;
    padding-bottom: 28px;
}
#form h2{
    color: white;
    margin-bottom: 10px;

}
#form input{
    color: white;
}
#form input,#form i{
    background: #6b699f;
}

#developer{
    background: #b3bec1;
}
#developer li{
    margin-bottom: 10px;
}
/*footer section start*/

footer{
    background: #323232;

    padding: 8px 0 22px 0;

    color: #b1b1b1;
    overflow: hidden;

}
footer a{
    text-decoration: none;
}
footer ul{

    float: right;
}
footer ol a i{
   /* color: #3c5a99;*/
    color: #b1b1b1;
}



#brand{
    margin-top: 120px;
    background: #0b2e13;
    padding-bottom: 30px;
}

#brand h2 a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
#brand p{
    color: white;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}
#news .card{
    margin-top: 20px;
}


#aboutBrand{
    background: #0f6674;
}
#aboutBrand h2{
    font-weight: bolder;
}
#aboutBrand p,#aboutBrand h2{
    color: white;
}
#aboutBrand p{
    padding-bottom: 20px;
    text-align: justify;
}

#offer{
    margin-top: 120px;
    background: #0f6674;

}

#offer h2{
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: bolder;
}
#contactUs{
    margin-top: 120px;
    background: #0f6674;
}
#contactUs ul{
    color: white;
}
#contactUs h1{
    color: white;
    font-family:"Times New Roman" ;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 30px;
}
#contactUs p{
    color: white;
    text-align: left;
}
#ourBranch {
    margin-top: 120px;
    background: #0f6674;

}
#ourBranch a{
    text-decoration: none;
}
#ourBranch ul{
    color: white;
    text-align: left;
    padding-bottom: 30px;
}
#ourBranch h2{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: bolder;
}
#photo{
    margin-top: 130px;
}

#news{
 background: #0f6674;
   
    padding-bottom: 30px;
}
#news h2{
    text-align: center;
    color: white;
    font-weight: bolder;
}
#news .card{
    width: 400px;
}



#developer a{
    text-decoration: none;
    color: #212529;
}
#latestproduct .dropdown-menu{
    background-color: black;

}
#latestproduct .dropdown-menu a{
    color: white;
}
#latestproduct .dropdown-menu a:hover{
    background-color: #2c2a77;
}

header .dropdown-menu a:hover{
    background-color: #2c2a77;
    color: white;
}



#gallery .thumbnail {
    border-radius: 0px;
    border: 0px;
    padding: 0px;
}


 #gallery a.pp_play,
 #gallery a.pp_arrow_previous,
 #gallery a.pp_arrow_next,
 #gallery a.pp_close{
      display: none;
  }



#gallery .pp_nav {
    margin-top: 0;
}

#photoGallery {
    margin: 0;
    background-image: url(https://images.pexels.com/photos/1122400/pexels-photo-1122400.jpeg?cs=srgb&dl=abstract-art-attractive-1122400.jpg&fm=jpg);
    background-size: cover;
}

*, :after, :before {
    box-sizing:border-box;
}

.grid-wrapper {
    padding: 0 15px;
}

ul.filter-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 60px;
    text-align: center;
}

ul.filter-menu li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

ul.filter-menu li:last-child {
    margin-right: 0;
}

ul.filter-menu li span {
    display: block;
    padding: 15px;
    font-size: 21px;
    background-color: rgba(255,255,255,0.6);
    font-family: 'Permanent Marker', cursive;
    color: #000;
    border-radius: 5px;
    transition: all 300ms linear;
    cursor: pointer;
}

ul.filter-menu li.active span,
ul.filter-menu li span:hover {
    background-color: #fff;
}





h1 {
    font-family: 'Caveat Brush', cursive;
    font-size: 60px;
    text-align: center;
    color: #222;
    word-spacing: 15px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.grid:after,.grid:before {
    content: '';
    display: table;
    clear: both;
}

.grid-item {
    float:left;
    width: 33.33%;
    padding: 0;
    margin-bottom: 40px;
}

.grid-item a {
    display: block;
    padding: 15px 15px 50px 15px;
    background-color: #fff;
    max-width: 80%;
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.8);
    text-align: center;
    transform: rotate(5deg);
    box-shadow: 0 3px 6px rgba(0,0,0,.6);
    transition: all 200ms ease;
}

.grid-item img {
    max-width: 100%;
    display: block;
}

.grid-item a:after {
    content: attr(title);
    display: inline-block;
    text-align: center;
    position: relative;
    top: 25px;
    color: #333;
    transform: rotate(2deg);
    font-family: 'Permanent Marker', cursive;
    font-size: 26px;
    line-height: 1;
    letter-spacing: 3px;
}

.grid-item:nth-child(2n) a {
    transform: rotate(-5deg);
}

.grid-item:nth-child(3n) a {
    transform: rotate(-5deg);
}

.grid-item:nth-child(4n) a {
    transform: rotate(-10deg);
}


.grid-item:nth-child(5n) a {
    transform: rotate(-6deg);
}

.grid-wrapper .grid-item a:hover {
    transform: rotate(0deg);
    box-shadow: 0 3px 6px rgba(0,0,0,.9);
}
#photoGallery
{
    margin-top: 120px;
}
@media(max-width: 991px) {

    .grid-item {
        width: 50%;
    }

}

@media(max-width: 767px) {

    .grid-item {
        width: 100%;
    }

    .grid-item a {
        transform: rotate(-5deg);
    }

    .grid-item:nth-child(2n) a {
        transform: rotate(5deg);
    }

}



/*MEDIA QUERY START HERE*/

@media only screen and (max-width: 768px) {
{
    width: 100%;
}
}
@media only screen and (max-width: 575px) {
{
    width: 100%;
}
    footer p
{
        font-size: 15px;
        text-align: left;
}

}
@media only screen and (max-width: 767px){
    footer ol{
        float: right;
    }
   footer p{
        padding-top: 30px;
    }
}
@media only screen and (max-width:435px){

  footer  p{
        font-size: 10px;
    }
  footer ol{
      font-size: x-small;
  }
}

@media only screen and (max-width:322px ){
    footer  p{
        font-size: 8px;
    }
    footer ol{
        font-size: xx-small;
    }
}
@media only screen and (max-width:260px ){
    footer  p{
        font-size: 8px;
    }
    footer ol i{
        font-size:10px;
    }
}
@media  (max-width: 772px){
    #news .card{
        width: 100%;
    }
}
@media only screen and (max-width: 575.98px){
    #news .card{
        width: 100%;
    }
}
@media only screen and (max-width: 991px){
    #news .card{
        width: 100%;

    }
  p{
      font-size: 10px;
  }
  h2{
      font-size: 14px;
  }
}

@media only screen and (max-width: 371.99px) {
   #brand,#aboutUs,#photo,#news,#offer,#ourBranch,#carousel,#photoGallery{
      margin-top: 160px;
    }
}
@media only screen and (max-width: 372px) {
    #photoGallery{
        margin-top: 150px;
    }
    p{
        font-size: 10px;
    }
}
@media only screen and (max-width: 575px) {
{
    width: 100%;
    height: 100%;
}
}

#medicalService{
    background-color: #7abaff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.mdc-service{
    margin-bottom: 20px;
}
#consultant{
    margin-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;

}
#ourServices{
    margin-top: 100px;
    font-size: 27px;
 
}